@import "_var";
@import "_reset";
@import "_rec";
@import "_header";
@import "_slider";
@import '_navbar';
@import "_helpers";
@import "_rank";
@import "_search";
@import "_music-player";
body {
    background-color: $body-background;
    font-family: $font-style;
    position: relative;
    text-decoration: none;
}